/* plus-jakarta-sans-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/plus-jakarta-sans-v3-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/plus-jakarta-sans-v3-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/plus-jakarta-sans-v3-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/plus-jakarta-sans-v3-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/plus-jakarta-sans-v3-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/plus-jakarta-sans-v3-latin-regular.svg#PlusJakartaSans")
      format("svg"); /* Legacy iOS */
}
/* plus-jakarta-sans-800 - latin */
@font-face {
  font-display: swap;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/plus-jakarta-sans-v3-latin-800.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/plus-jakarta-sans-v3-latin-800.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/plus-jakarta-sans-v3-latin-800.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/plus-jakarta-sans-v3-latin-800.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/plus-jakarta-sans-v3-latin-800.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/plus-jakarta-sans-v3-latin-800.svg#PlusJakartaSans")
      format("svg"); /* Legacy iOS */
}
