body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: calc(26 / 16);
  background-color: $lightCream;
}

:is(h1, h2, h3) {
  font-family: "Plus Jakarta Sans", serif;
  //   font-size: 5.6rem;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: $black;
}

img {
  display: block;
}

.container {
  position: relative;
  margin-inline: clamp(1.6rem, calc(-2.3rem + 14vw), 16.5rem);
  max-width: calc(1px * (1111));
  height: 100%;
}
