body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: calc(28 / 18);
  background-color: $lightCream;
}

:is(h1, h2, h3) {
  font-family: "Plus Jakarta Sans", serif;
  // font-size: 5.6rem;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: $black;
}

img {
  display: block;
}

ul {
  padding: 0;
  margin: 0;
}

.container {
  position: relative;
  padding-inline: 1.6rem;
  margin-block-end: 10rem;

  @include Medium {
    padding-inline: 4rem;
    margin-block-end: 12rem;
  }

  @include VeryBigLaptop {
    max-width: 111.1rem;
    margin-inline: auto;
    margin-block-end: 8.8rem;
    padding-inline: 0;
  }
}

.disposition {
  & > img:nth-child(1) {
    background: transparent;
    align-self: start;
    justify-self: end;
    padding-block-start: 2.4rem;
    padding-inline-end: 2.4rem;
  }

  & > p:nth-child(2) {
    align-self: end;
    justify-self: start;
    padding-block-end: 2.4rem;
    padding-inline-start: 2.4rem;
    font-size: 2.4rem;
    text-transform: capitalize;
    color: $white;
  }
}
.free-consultation {
  background-color: $black;
  border-radius: 2.8rem;

  button {
    text-transform: capitalize;
    padding-block: 0.8rem;
    padding-inline: 2.8rem;
    font-size: 1.4rem;
    text-align: center;
    background: transparent;
    border: none;
    color: $lightCream;

    @include Medium {
      padding-block: 1.4rem;
      padding-inline: 4.5rem;
      font-size: 1.6rem;
    }
  }
}
