@import "../style/_font-family";
@import "../style/_reset";
@import "../style/_helper";
@import "../style/_custom-properties";
@import "../style/_screens-responsive";
@import "../style/_typographie";

//************* HERO *************
.hero {
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-start: clamp(1.6rem, calc(0.6rem + 1.7vw), 3.4rem);
    margin-block-end: clamp(3.2rem, calc(1.3rem + 3vw), 6.4rem);

    .logo {
      position: relative;
      background-color: $black;
      height: clamp(4.8rem, calc(2.6rem + 1.5vw), 6.4rem);
      width: clamp(4.8rem, calc(2.6rem + 1.5vw), 6.4rem);

      &::after {
        content: " ";
        position: absolute;
        height: clamp(2.4rem, calc(0.95rem + 0.25vw), 3.2rem);
        width: clamp(2.4rem, calc(0.95rem + 0.25vw), 3.2rem);
        border: clamp(0.3rem, calc(0.2rem + 0.1vw), 0.4rem) solid $lightCream;
        border-radius: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    // .free-consultation {
    //   background-color: $black;
    //   border-radius: 2.8rem;

    //   button {
    //     text-transform: capitalize;
    //     padding-block: clamp(0.8rem, calc(0.4rem + 0.6vw), 1.4rem);
    //     padding-inline: clamp(2.8rem, calc(1.4rem + 1.6vw), 4.5rem);
    //     font-size: clamp(1.4rem, calc(0.8rem + 0.2vw), 1.6rem);
    //     text-align: center;
    //     background: transparent;
    //     border: none;
    //     color: $lightCream;
    //   }
    // }
  }

  &__slogan {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: auto;
    margin-block-end: clamp(3.2rem, calc(0.9rem + 4.5vw), 8rem);

    &--title {
      display: block;
      text-align: center;
      font-size: 3.6rem;
      font-weight: 700;
      line-height: 4.5rem;
      margin-block-end: clamp(1.6rem, calc(0.8rem + 0.7vw), 2.3rem);

      @include Medium {
        font-size: 4.4rem;
      }

      @include VeryBigLaptop {
        font-size: 5.6rem;
      }
    }

    &--texte {
      text-align: center;
      font-size: 1.6rem;
      font-weight: 500;
      color: $mediumBrown;
      padding-inline: 3rem;
      max-width: 73rem;

      @include VeryBigLaptop {
        // padding-inline: 0;
      }
    }
  }

  &__services {
    display: grid;
    grid-template-rows: repeat(6, 18.2rem);
    gap: 2.4rem;
    grid-template-areas:
      "G G"
      "G G"
      "U U"
      "I I"
      "P P"
      "M M";

    @include Medium {
      grid-template-rows: repeat(3, 18.2rem);
      grid-template-areas:
        "G G U U"
        "G G I I"
        "P P M M";
    }

    @include VeryBigLaptop {
      grid-template-rows: repeat(2, 18.2rem);
      grid-template-areas:
        "G G U P"
        "G G I M";
    }

    &--item {
      border-radius: 0.8rem;
      display: grid;

      &:nth-child(1) {
        background-color: $galacticBlue;
        grid-area: G;
      }
      &:nth-child(2) {
        grid-area: U;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2.5rem;

        ul {
          border-radius: 0.8rem;

          &:nth-child(1) {
            display: grid;
            background-color: $summerYellow;

            p {
              text-transform: uppercase;
            }
          }
          &:nth-child(2) {
            display: grid;
            background-color: $pink;
          }
        }
      }
      &:nth-child(3) {
        background-color: $lightRed;
        grid-area: I;
      }
      &:nth-child(4) {
        background-color: $cyan;
        grid-area: P;
      }
      &:nth-child(5) {
        background-color: $darkPurple;
        grid-area: M;
      }
    }
  }
}

.main {
  .about {
    @include Medium {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 7rem;
      transform: translateX(-5rem);

      &.container {
        padding-inline-end: 0;
      }
    }
    @include VeryBigLaptop {
      // transform: translateX(0);
      margin-inline: auto;
      padding-block-start: 13.6rem;

      &.container {
        padding-inline-end: 4rem;
      }
    }

    &__profil {
      position: relative;
      background-color: $cyan;
      height: 30rem;
      width: 30rem;
      border-radius: 100%;
      overflow: hidden;
      display: grid;
      grid-template-rows: 1fr 1fr;
      margin-inline: auto;
      margin-block-end: 4rem;

      @include Medium {
        transform: scale(1.2);
      }
      @include VeryBigLaptop {
        transform: scale(1.5);
      }

      & > :nth-child(1) {
        justify-self: start;
        align-self: end;
      }
      & > :nth-child(2) {
        justify-self: end;
        align-self: start;
      }

      & > :nth-child(3) {
        // background-color: red;
        position: absolute;
        top: 5%;

        left: -5%;
      }
    }

    &__info {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;

      @include Medium {
        text-align: left;
        align-items: start;
      }

      h2 {
        font-size: 2.6rem;
        font-weight: 700;
        margin-block-end: 2.4rem;

        @include Medium {
          font-size: 3.2rem;
        }
      }

      p {
        color: $mediumBrown;
        margin-block-end: 2.4rem;

        @include Medium {
          font-size: 1.8rem;
        }
      }

      .free-consultation {
        background-color: $lightRed;
      }
    }
  }

  .portfolio {
    // background-color: green;
    margin-block-end: 10rem;

    @include Medium {
      margin-block-end: 12rem;
    }

    @include VeryBigLaptop {
      margin-block-end: 8.8rem;
    }

    &__title {
      text-transform: capitalize;
      text-align: center;
      font-weight: 700;
      font-size: 2.4rem;
      margin-block-end: 3.2rem;

      @include Medium {
        font-size: 3.2rem;
        margin-block-end: 5.6rem;
      }
    }

    &__caroussel {
      overflow-x: hidden;
      margin-block-end: 3.2rem;

      @include Medium {
        margin-block-end: 5.6rem;
      }

      ul {
        position: relative;
        min-height: 18rem;
        max-height: 36rem;
        width: 300vw;
        left: calc((-100vw / 2) - 3rem);

        @include Medium {
          left: calc((-100vw / 2) - 6rem);
        }

        @media screen and (min-width: 1024px) {
          // transform: translateX(-50%);
        }

        @include VeryBigLaptop {
          left: -6rem * 2; //les espaces entres les deux images du caroussel
        }

        @media screen and (min-width: 1441px) {
          left: 0;
          max-width: 144rem;
          margin-inline: auto;
        }

        // ******CALCUL :  72% -> (270 / 375) * 100 ********
        & > li {
          height: 100%;
          width: calc(72% / 3 - 1rem);
          max-width: 54rem;
          float: left;
          background-size: cover;
          background-repeat: no-repeat;
          border-radius: 1rem;
          aspect-ratio: 3 / 2;

          @media screen and (min-width: 1441px) {
            width: calc(144rem / 3 - 2rem);
          }

          // &:nth-child(1) {
          //   background-image: url("../img/CarousselLeft.jpg");
          //   background-position: center;
          // }
          // &:nth-child(2) {
          //   background-image: url("../img/CarousselCenter.jpg");
          //   background-position: center;
          // }
          // &:nth-child(3) {
          //   background-image: url("../img/CarousselRight.jpg");
          //   background-position-x: left;
          //   background-position-y: top;
          // }

          img {
            border-radius: 1rem;
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }

        & > li:not(:last-child) {
          margin-inline-end: 1.5rem;

          @include Medium {
            margin-inline-end: 3rem;
          }
        }
      }
    }

    &__arrows {
      // background-color: green;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      & > button:not(:last-child) {
        margin-inline-end: 1.6rem;
      }

      &--left,
      &--right {
        height: 6.4rem;
        width: 6.4rem;
        background-color: $black;
        border: none;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.footer {
  .contact {
    background-color: $black;
    color: $lightCream;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-inline: 2.4rem;
    padding-block: 4.9rem;
    margin-block-end: 4rem;

    @include Medium {
      padding-inline: 7.5rem;
      padding-block: 5.6rem;
      margin-block-end: 5.6rem;
    }

    @include VeryBigLaptop {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      text-align: start;
    }

    &__text {
      margin-block-end: 2.4rem;

      @include Medium {
        margin-block-end: 2.6rem;
      }

      @include VeryBigLaptop {
        flex: 1;
      }

      h2 {
        font-size: 2.6rem;
        font-weight: 700;
        margin-block-end: 2.4rem;

        @include Medium {
          font-size: 3.2rem;
          margin-block-end: 2.6rem;
        }

        @include VeryBigLaptop {
        }
      }

      p {
        font-weight: 500;

        @include Medium {
          font-size: 1.8rem;
        }
      }
    }

    .btn {
      display: flex;
      justify-content: end;
      @include VeryBigLaptop {
        flex: 1;
      }
      .free-consultation {
        background-color: $lightRed;
      }
    }
  }

  .hero__nav {
    margin: 0;
  }
}
