@import "../style/_font-family";
@import "../style/_reset";
@import "../style/_helper";
@import "../style/_custom-properties";
@import "../style/_screens-responsive";
@import "../style/_typographie";

//************* HERO *************
.hero {
  @include marginBottom;
  //************* NAVBAR *************
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-start: clamp(1.6rem, calc(0.6rem + 1.7vw), 3.4rem);
    margin-block-end: clamp(3.2rem, calc(0.9rem + 4.5vw), 8rem);
    .logo {
      position: relative;
      background-color: $black;
      height: clamp(4.8rem, calc(2.6rem + 1.5vw), 6.4rem);
      width: clamp(4.8rem, calc(2.6rem + 1.5vw), 6.4rem);

      &::after {
        content: " ";
        position: absolute;
        height: clamp(2.4rem, calc(0.95rem + 0.25vw), 3.2rem);
        width: clamp(2.4rem, calc(0.95rem + 0.25vw), 3.2rem);
        border: clamp(0.3rem, calc(0.2rem + 0.1vw), 0.4rem) solid $lightCream;
        border-radius: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  //************* SLOGAN *************
  &__slogan {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: auto;
    margin-block-end: clamp(3.2rem, calc(0.9rem + 4.5vw), 8rem);

    &--title {
      display: block;
      text-align: center;
      font-size: 3.6rem;
      font-weight: 700;
      line-height: 4.5rem;
      margin-block-end: clamp(1.6rem, calc(0.8rem + 0.7vw), 2.3rem);

      @include Medium {
        font-size: 4.4rem;
      }

      @include VeryBigLaptop {
        font-size: 5.6rem;
      }
    }

    &--texte {
      text-align: center;
      font-size: 1.6rem;
      font-weight: 500;
      color: $mediumBrown;
      padding-inline: 3rem;
      max-width: 73rem;
    }
  }

  //************* SERVICES *************
  &__services {
    display: grid;
    gap: 2.4rem;
    grid-template-areas:
      "G G"
      "G G"
      "U A"
      "I I"
      "P P"
      "M M";

    @include Medium {
      grid-template-areas:
        "G G U A"
        "G G I I"
        "P P M M";
    }

    @include VeryBigLaptop {
      grid-template-areas:
        "G G U A P P"
        "G G I I M M";
    }

    &--item {
      border-radius: 0.8rem;
      display: grid;
      padding: 2.4rem;
      row-gap: 4rem;

      // Containers : grilles
      &:nth-child(1) {
        background-color: $galacticBlue;
        grid-area: G;
      }
      &:nth-child(2) {
        grid-area: U;
        background-color: $summerYellow;

        & > :last-child {
          text-transform: uppercase;
        }
      }
      &:nth-child(3) {
        grid-area: A;
        background-color: $pink;
      }
      &:nth-child(4) {
        background-color: $lightRed;
        grid-area: I;
      }
      &:nth-child(5) {
        background-color: $cyan;
        grid-area: P;
      }
      &:nth-child(6) {
        background-color: $darkPurple;
        grid-area: M;
      }

      // Contents : contenus des grilles
      & > :nth-child(1) {
        background: transparent;
        align-self: start;
        justify-self: end;
      }

      & > :nth-child(2) {
        align-self: end;
        justify-self: start;
        font-size: 2.4rem;
        text-transform: capitalize;
        color: $white;
      }
    }
  }
}

//************* MAIN *************
.main {
  @include marginBottom;
  //************* ABOUT *************
  .about {
    @include marginBottom;

    @include Medium {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 7rem;
      transform: translateX(-5rem);

      &.container {
        padding-inline-end: 0;
      }
    }
    @include VeryBigLaptop {
      transform: translateX(0);
      margin-inline: auto;
      padding-block-start: 13.6rem;

      &.container {
        padding-inline-end: 5rem;
      }
    }

    &__profil {
      position: relative;
      background-color: $cyan;
      height: 30rem;
      width: 30rem;
      border-radius: 100%;
      overflow: hidden;
      display: grid;
      grid-template-rows: 1fr 1fr;
      margin-inline: auto;
      margin-block-end: 4rem;

      @include Medium {
        transform: scale(1.2);
        margin-block-end: 0;
      }
      @include VeryBigLaptop {
        transform: scale(1.5);
      }

      & > :nth-child(1) {
        justify-self: start;
        align-self: end;
        transform: scale(0.9);
      }
      & > :nth-child(2) {
        justify-self: end;
        align-self: start;
        transform: scale(0.95);
      }

      & > :nth-child(3) {
        position: absolute;
        transform: scale(0.95);
        left: -10%;
      }
    }

    &__info {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;

      @include Medium {
        text-align: left;
        align-items: start;
      }

      h2 {
        font-size: 2.6rem;
        font-weight: 700;
        margin-block-end: 2.4rem;

        @include Medium {
          font-size: 3.2rem;
        }
      }

      p {
        color: $mediumBrown;
        margin-block-end: 2.4rem;

        @include Medium {
          font-size: 1.8rem;
        }
      }

      .free-consultation {
        background-color: $lightRed;
        transition: 0.2s ease-in-out;

        &:hover {
          background-color: $summerYellow;
        }
      }
    }
  }

  //************* PORTFOLIO *************
  .portfolio {
    &__title {
      text-transform: capitalize;
      text-align: center;
      font-weight: 600;
      font-size: 2.4rem;
      margin-block-end: 3.2rem;

      @include Medium {
        font-size: 3.2rem;
        margin-block-end: 5.6rem;
      }
    }

    //************* CAROUSSEL *************
    .splide {
      display: flex;
      flex-direction: column;
      max-width: min(144rem, 100%);
      margin-inline: auto;

      &__track {
        margin-block-end: 3.2rem;

        @include Medium {
          margin-block-end: 5.6rem;
        }
      }

      &__slide {
        max-width: 54rem;

        > img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          border-radius: 1rem;
        }
      }

      &__arrow {
        position: static;
        transform: translateY(0);
        opacity: 1;
        margin: 0.8rem;
      }
    }

    .splide__pagination__page {
      visibility: hidden;
    }

    .work__slider__btn {
      display: flex;
      justify-content: center;
      margin-inline: auto;
      // width: fit-content;
      display: flex;

      & > button {
        height: 6.4rem;
        width: 6.4rem;
        background-color: $black;
        border: none;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.2s ease-in-out;

        &:hover {
          background-color: $galacticBlue;
        }
      }
    }
  }
}

//************* FOOTER *************
.footer {
  //************* CONTACT *************
  .contact {
    background-color: $black;
    color: $lightCream;
    border-radius: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-inline: 2.4rem;
    padding-block: 4.9rem;
    margin-block-end: 4rem;

    @include Medium {
      padding-inline: 7.5rem;
      padding-block: 5.6rem;
      margin-block-end: 5.6rem;
    }

    @include VeryBigLaptop {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      text-align: start;
    }

    &__text {
      margin-block-end: 2.4rem;

      @include Medium {
        margin-block-end: 2.6rem;
      }

      @include VeryBigLaptop {
        flex: 1;
      }

      h2 {
        font-size: 2.6rem;
        font-weight: 700;
        margin-block-end: 2.4rem;

        @include Medium {
          font-size: 3.2rem;
          margin-block-end: 2.6rem;
        }

        @include VeryBigLaptop {
        }
      }

      p {
        font-weight: 500;
        max-width: 54rem;

        @include Medium {
          font-size: 1.8rem;
        }
      }
    }

    .btn {
      display: flex;
      justify-content: flex-end;
      @include VeryBigLaptop {
        flex: 1;
      }
      .free-consultation {
        background-color: $lightRed;
        transition: 0.2s ease-in-out;

        &:hover {
          background-color: $summerYellow;
        }
      }
    }
  }

  //************* FOOTER-NAV *************
  .hero__nav {
    margin-block-start: 0;
  }
}
