@import "../style/_font-family";
@import "../style/_reset";
@import "../style/_helper";
@import "../style/_custom-properties";
@import "../style/_screens-responsive";
@import "../style/_typographie";

//************* HERO *************
.hero {
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-start: clamp(1.6rem, calc(0.6rem + 1.7vw), 3.4rem);
    margin-block-end: clamp(3.2rem, calc(1.3rem + 3vw), 6.4rem);

    .logo {
      position: relative;
      background-color: $black;
      height: clamp(4.8rem, calc(2.6rem + 1.5vw), 6.4rem);
      width: clamp(4.8rem, calc(2.6rem + 1.5vw), 6.4rem);

      &::after {
        content: " ";
        position: absolute;
        height: clamp(2.4rem, calc(0.95rem + 0.25vw), 3.2rem);
        width: clamp(2.4rem, calc(0.95rem + 0.25vw), 3.2rem);
        border: clamp(0.3rem, calc(0.2rem + 0.1vw), 0.4rem) solid $lightCream;
        border-radius: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .free-consultation {
      background-color: $black;
      color: $lightCream;
      border-radius: 2.8rem;

      p {
        text-transform: capitalize;
        padding-block: clamp(0.8rem, calc(0.4rem + 0.6vw), 1.4rem);
        padding-inline: clamp(2.8rem, calc(1.4rem + 1.6vw), 4.5rem);
        font-size: clamp(1.4rem, calc(0.8rem + 0.2vw), 1.6rem);
        text-align: center;
      }
    }
  }

  &__slogan {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: auto;
    margin-block-end: clamp(3.2rem, calc(0.9rem + 4.5vw), 8rem);

    &--title {
      display: block;
      text-align: center;
      font-size: 3.6rem;
      font-weight: 700;
      line-height: 4.5rem;
      margin-block-end: clamp(1.6rem, calc(0.8rem + 0.7vw), 2.3rem);

      @include Medium {
        font-size: 4.4rem;
      }

      @include VeryBigLaptop {
        font-size: 5.6rem;
      }
    }

    &--texte {
      text-align: center;
      font-size: 1.6rem;
      font-weight: 500;
      color: $mediumBrown;
      padding-inline: 3rem;
      max-width: 73rem;

      @include VeryBigLaptop {
        // padding-inline: 0;
      }
    }
  }

  &__services {
    display: grid;
    grid-template-rows: repeat(6, 18.2rem);
    gap: 2.4rem;
    grid-template-areas:
      "G G"
      "G G"
      "U U"
      "I I"
      "P P"
      "M M";

    @include Medium {
      grid-template-rows: repeat(3, 18.2rem);
      grid-template-areas:
        "G G U U"
        "G G I I"
        "P P M M";
    }

    @include VeryBigLaptop {
      grid-template-rows: repeat(2, 18.2rem);
      grid-template-areas:
        "G G U P"
        "G G I M";
    }

    &--item {
      border-radius: 0.8rem;
      display: grid;

      &:nth-child(1) {
        background-color: $galacticBlue;
        grid-area: G;
      }
      &:nth-child(2) {
        grid-area: U;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2.5rem;

        ul {
          border-radius: 0.8rem;

          &:nth-child(1) {
            display: grid;
            background-color: $summerYellow;

            p {
              text-transform: uppercase;
            }
          }
          &:nth-child(2) {
            display: grid;
            background-color: $pink;
          }
        }
      }
      &:nth-child(3) {
        background-color: $lightRed;
        grid-area: I;
      }
      &:nth-child(4) {
        background-color: $cyan;
        grid-area: P;
      }
      &:nth-child(5) {
        background-color: $darkPurple;
        grid-area: M;
      }
    }
  }
}
